@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Belgrano';
  font-style: normal;
  font-weight: 400;
  src: local('Belgrano Regular'), local('Belgrano-Regular'), url(https://fonts.gstatic.com/s/belgrano/v8/55xvey5tM9rwKWrJZfMCgL0.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  font-size: 1vw;
  font-family: Montserrat;
  overflow: auto;
}
p {
  margin: 0;
}
a {
  color: #DC3A69;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 2.4vw;
  font-weight: normal;
  letter-spacing: 1px;
}
h2 {
  font-family: Belgrano;
  font-size: 2.5vw;
  font-weight: normal;
  line-height: 5vw;
  color: #fff;
  margin: 0;
  padding: 1vh 0 0 0;
  text-align: center;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}
h3 {
  font-size: 1vw;
  line-height: 1vw;
  color: #FCBD2D;
  margin-bottom: 0.25vw;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.pink {
  color: #DC3A69;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
.container .column.left {
  flex: 67%;
  max-width: 67%;
}
.container .column.left .top {
  background: url('../images/header.jpg');
  background-size: cover;
  background-position-y: -50px;
}
.container .column.left .top .website {
  flex: 100%;
  height: 7%;
}
.container .column.left .top .website .url {
  float: right;
  background: #DC3A69;
  color: #fff;
  width: 24%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2vw;
  line-height: 3.7vh;
  letter-spacing: 1px;
}
.container .column.left .top .logo {
  flex: 100%;
  height: 77%;
}
.container .column.left .top .logo img {
  width: 12vw;
  height: 12vw;
  margin-top: 2vh;
  margin-left: 5vh;
}
.container .column.left .top .slogan {
  display: flex;
  flex-wrap: nowrap;
  flex: 100%;
  height: 16%;
  background: #fff;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}
.container .column.left .bottom {
  display: flex;
  flex-wrap: nowrap;
  background: #2C5264;
}
.container .column.left .bottom .introLeft {
  flex: 50%;
  height: 100%;
  color: #fff;
  font-size: 1.1vw;
  line-height: 2.6vh;
  padding: 3vh 3.7vw 3vh 3.4vw;
}
.container .column.left .bottom .introRight {
  flex: 50%;
  height: 100%;
  font-family: Belgrano;
  font-size: 3vw;
  line-height: 6vh;
  color: #fff;
  padding-top: 3vh;
}
.container .column.left .bottom .introRight img.check {
  width: 3vw;
  height: 3vw;
  padding-right: 1vw;
  padding-top: 1vw;
}
.container .column.left .bottom .introRight td {
  padding-bottom: 1.2vh;
}
.container .column.right {
  flex: 33%;
  max-width: 33%;
}
.container .column.right .top {
  background: #FCBD2D;
}
.container .column.right .bottom .buttons {
  padding-top: 4vh;
  text-align: center;
}
.container .column.right .bottom .buttons a.button {
  display: inline-block;
  border-radius: 10vw;
  background: #DC3A69;
  color: #fff;
  width: 15vw;
  line-height: 5vh;
  font-size: 2vw;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 3vh;
}
.container .column.right .bottom .buttons a.button:hover {
  text-decoration: none;
}
.container .column.right .bottom .buttons a.button.moreInfo {
  width: 17vw;
}
.container .column.right .bottom .contact {
  padding: 4vh 4vw 0 4vw;
}
.container .column .row.top {
  height: 54%;
}
.container .column .row.top .results {
  display: flex;
  flex-wrap: wrap;
}
.container .column .row.top .results .result {
  flex: 50%;
  max-width: 50%;
  padding-top: 1vh;
}
.container .column .row.top .results .upsell-conversion,
.container .column .row.top .results .average-upsell {
  text-align: center;
  padding-right: 1vw;
}
.container .column .row.top .results .upsell-conversion .circleContainer,
.container .column .row.top .results .average-upsell .circleContainer {
  float: right;
  width: 10vw;
}
.container .column .row.top .results .better-rating,
.container .column .row.top .results .upsell-per-booking {
  text-align: center;
  padding-left: 1vw;
}
.container .column .row.top .results .better-rating .circleContainer,
.container .column .row.top .results .upsell-per-booking .circleContainer {
  float: left;
  width: 10vw;
}
.container .column .row.top .results .circle {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
  text-align: center;
  font-size: 1.8vw;
  line-height: 6vw;
  color: #fff;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}
.container .column .row.top .results .circle + .text {
  font-size: 0.9vw;
  font-weight: bold;
  padding: 1vw 0 1vw 0;
  text-transform: uppercase;
}
.container .column .row.top .results .circle span {
  font-size: 1vw;
  position: relative;
  top: -0.6vw;
}
.container .column .row.bottom {
  height: 46%;
}
@media (max-width: 900px) {
  h1 {
    font-size: 4.5vw;
  }
  h2 {
    font-size: 7vw;
    padding-top: 6vw;
  }
  h3 {
    font-size: 4vw;
    margin-bottom: 3vw;
  }
  .container {
    flex-wrap: wrap;
  }
  .container .column.left,
  .container .column.right {
    flex: 100%;
    max-width: 100%;
  }
  .container .column.left .row.top {
    height: 60vw;
  }
  .container .column.left .row.bottom {
    height: 175vw;
  }
  .container .column.left .top {
    background-position-y: 0;
  }
  .container .column.left .top .website {
    height: 6vw;
  }
  .container .column.left .top .website .url {
    line-height: 6vw;
    font-size: 2.8vw;
    width: 40%;
  }
  .container .column.left .top .logo {
    height: 44vw;
  }
  .container .column.left .top .logo img {
    height: 25vw;
    width: 25vw;
  }
  .container .column.left .top .slogan {
    height: 10vw;
  }
  .container .column.left .bottom {
    flex-wrap: wrap;
  }
  .container .column.left .bottom .introLeft {
    flex: 100%;
    max-width: 100%;
    font-size: 3.8vw;
    line-height: 6.8vw;
    height: 115vw;
    padding: 3vh 7vw 3vh 6vw;
  }
  .container .column.left .bottom .introRight {
    flex: 100%;
    max-width: 100%;
    height: 60vw;
    line-height: 9vw;
    padding-top: 0;
    font-size: 6vw;
  }
  .container .column.left .bottom .introRight img.check {
    width: 5.5vw;
    height: 5.5vw;
  }
  .container .column.left .bottom .introRight table {
    margin: 0 auto;
  }
  .container .column.right .row.top {
    height: 100vw;
  }
  .container .column.right .row.bottom {
    height: 60vw;
  }
  .container .column.right .top .results .result {
    padding-top: 7vw;
  }
  .container .column.right .top .results .upsell-conversion .circleContainer,
  .container .column.right .top .results .average-upsell .circleContainer {
    width: 85%;
  }
  .container .column.right .top .results .better-rating .circleContainer,
  .container .column.right .top .results .upsell-per-booking .circleContainer {
    width: 85%;
  }
  .container .column.right .top .results .upsell-conversion .text,
  .container .column.right .top .results .better-rating .text,
  .container .column.right .top .results .upsell-per-booking .text {
    padding: 1vw 8vw;
  }
  .container .column.right .top .results .circle {
    width: 24vw;
    height: 24vw;
    font-size: 8vw;
    line-height: 24vw;
  }
  .container .column.right .top .results .circle + .text {
    font-size: 3.1vw;
  }
  .container .column.right .top .results .circle span {
    font-size: 4vw;
    top: -2.8vw;
  }
  .container .column.right .bottom .buttons {
    font-size: 3.8vw;
    line-height: 6vw;
  }
  .container .column.right .bottom .buttons a.button {
    width: 60% !important;
    font-size: 7vw;
    line-height: 12vw;
  }
  .container .column.right .bottom .contact {
    font-size: 3.8vw;
    padding-bottom: 4vw;
    line-height: 6vw;
  }
}
/*
@media (max-width: 900px) {

  h1 {
    font-size: 2.5vh;
  }

  h2 {
    font-size: 3vh;
    padding-top: 2vh;
    padding-bottom: 1vh;
  }

  h3 {
    font-size: 2vh;
    margin-bottom: 1.5vh;
  }

  .container {
    flex-wrap: wrap;

    .column {
      &.left, &.right {
        flex: 100%;
        max-width: 100%;
      }

      &.left {
        .row {
          &.top {
            height: 30vh;
          }

          &.bottom {
            height: 64vh;
          }
        }

        .top {
          background-position-y: 0;

          .website {
            height: 3vh;

            .url {
              line-height: 3vh;
              font-size: 1.4vh;
              width: 35%;
            }
          }

          .logo {
            height: 22vh;

            img {
              height: 25vw;
              width: 25vw;
            }
          }

          .slogan {
            height: 5vh;
          }
        }

        .bottom {
          flex-wrap: wrap;

          .introLeft {
            flex: 100%;
            max-width: 100%;
            font-size: 1.6vh;
            line-height: 2.4vh;
            height: 38vh;
            padding: 2vh 3.7vw 3vh 3.4vw;
          }

          .introRight {
            flex: 100%;
            max-width: 100%;
            height: 25vh;
            line-height: 3.2vh;
            padding-top: 0;
            font-size: 2.2vh;

            img.check {
              width: 5.5vw;
              height: 5.5vw;
            }
            table {
              margin: 0 auto;
            }
          }
        }
      }

      &.right {
        .row {
          &.top {
            height: 40vh;
          }

          &.bottom {
            height: 30vh;
          }
        }

        .top {

          .results {

            .upsell-conversion,
            .average-upsell {

              .circleContainer {
                width: 75%;
              }
            }

            .better-rating,
            .upsell-per-booking {

              .circleContainer {
                width: 75%;
              }
            }

            .circle {
              width: 12vh;
              height: 12vh;
              font-size: 4vh;
              line-height: 12vh;

              & + .text{
                font-size: 1.3vh;
              }

              span {
                font-size: 2vh;
                top: -1.4vh;
              }
            }
          }
        }


        .bottom {
          .buttons {
            font-size: 2vh;

            a.button {
              width: 50% !important;
              font-size: 3vh;
              line-height: 4vh;
            }
          }

          .contact {
            font-size: 2vh;
            padding-bottom: 1vh;
          }
        }
      }
    }
  }
}
*/
